In [3]:
import numpy as np
import pandas as pd

Load ratings csv file

In [4]:
ratings_df = pd.read_csv("../input/ratings.csv")#need to try this on full dataset

In [5]:
ratings_df.shape

(26024289, 4)

In [6]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

Load Movies metadata csv file

In [7]:
movies_df = pd.read_csv("../input/movies_metadata.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [54]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Merge the two dataframe to keep only userId, movieId, rating and title data

In [9]:
movies_df = movies_df[movies_df['id'].astype(str).str.isdigit()]

In [10]:
movies_df.id = movies_df.id.astype(np.int64)

In [11]:
type(movies_df.id[0])

numpy.int64

In [12]:
ratings_df.movieId.isin(movies_df.id).sum()

11436568

In [13]:
ratings_df = pd.merge(ratings_df,movies_df[['title','id']],left_on='movieId',right_on='id')
ratings_df.head()

   userId  movieId  rating   timestamp              title   id
0       1      110     1.0  1425941529  Three Colors: Red  110
1      11      110     3.5  1231676989  Three Colors: Red  110
2      22      110     5.0  1111937009  Three Colors: Red  110
3      24      110     5.0   979870012  Three Colors: Red  110
4      29      110     3.0  1044020005  Three Colors: Red  110

In [14]:
ratings_df.drop(['timestamp','id'],axis=1,inplace=True)

In [15]:
ratings_df.shape

(11437637, 4)

In [16]:
ratings_df.sample(5)

          userId  movieId  rating                                  title
10030954   69009       20     3.0                     My Life Without Me
7576073   128796     1250     4.0                            Ghost Rider
8080401   186026   103688     4.0  Daydream Believers: The Monkees Story
10809075  245158    53161     3.0        White Shadows in the South Seas
70586     221288      147     4.0                          The 400 Blows

In [17]:
ratings_df.isnull().sum()

userId     0
movieId    0
rating     0
title      0
dtype: int64

Let's see the number of ratings for each movie

In [18]:
ratings_count = ratings_df.groupby(by="title")['rating'].count().reset_index().rename(columns={'rating':'totalRatings'})[['title','totalRatings']]

See the count of unique movies in the ratings_count dataframe

In [19]:
ratings_count.shape[0]

7409

We can also double check this number

In [20]:
len(ratings_df['title'].unique())

7409

In [21]:
ratings_count.sample(5)

                title  totalRatings
1468       Dear Heart             3
3359  Maine Pyar Kiya            13
5919  The Ladykillers          1484
4040   Paradise Found          1056
5887  The Jazz Singer           112

In [22]:
ratings_count.head()

                   title  totalRatings
0  !Women Art Revolution           883
1    $1,000 on the Black             1
2               $5 a Day           156
3            'Gator Bait           195
4                'R Xmas            86

In [23]:
ratings_df.head()

   userId  movieId  rating              title
0       1      110     1.0  Three Colors: Red
1      11      110     3.5  Three Colors: Red
2      22      110     5.0  Three Colors: Red
3      24      110     5.0  Three Colors: Red
4      29      110     3.0  Three Colors: Red

In [24]:
ratings_total = pd.merge(ratings_df,ratings_count,on='title',how='left')

In [25]:
ratings_total.shape

(11437637, 5)

In [26]:
ratings_total.head()

   userId  movieId  rating              title  totalRatings
0       1      110     1.0  Three Colors: Red         66512
1      11      110     3.5  Three Colors: Red         66512
2      22      110     5.0  Three Colors: Red         66512
3      24      110     5.0  Three Colors: Red         66512
4      29      110     3.0  Three Colors: Red         66512

Let's see some statistics for the totalRatings

In [27]:
ratings_count['totalRatings'].describe()

count     7409.000000
mean      1543.749089
std       5404.896301
min          1.000000
25%          7.000000
50%         45.000000
75%        485.000000
max      91082.000000
Name: totalRatings, dtype: float64

There is a huge difference between minimum number of ratings and maximum number of ratings.

In [28]:
ratings_count['totalRatings'].quantile(np.arange(.6,1,0.01))

0.60      106.00
0.61      116.00
0.62      126.00
0.63      141.00
0.64      154.12
0.65      167.00
0.66      184.28
0.67      203.00
0.68      224.00
0.69      242.00
0.70      270.00
0.71      307.00
0.72      344.00
0.73      382.00
0.74      431.00
0.75      485.00
0.76      553.08
0.77      613.00
0.78      693.48
0.79      773.00
0.80      883.00
0.81     1006.48
0.82     1144.12
0.83     1265.00
0.84     1419.72
0.85     1576.80
0.86     1829.68
0.87     2128.24
0.88     2459.00
0.89     2871.36
0.90     3417.60
0.91     4061.28
0.92     4800.88
0.93     5750.88
0.94     6994.56
0.95     8701.20
0.96    10859.68
0.97    13612.28
0.98    17495.28
0.99    25750.88
Name: totalRatings, dtype: float64

About top 40% of the movies received more than 106 votes. We'll focus on those for now and compare later to the whole data set

In [29]:
votes_count_threshold = 106

In [30]:
ratings_top = ratings_total.query('totalRatings > @votes_count_threshold')

In [31]:
ratings_top.shape

(11418933, 5)

In [32]:
ratings_top.head()

   userId  movieId  rating              title  totalRatings
0       1      110     1.0  Three Colors: Red         66512
1      11      110     3.5  Three Colors: Red         66512
2      22      110     5.0  Three Colors: Red         66512
3      24      110     5.0  Three Colors: Red         66512
4      29      110     3.0  Three Colors: Red         66512

Make data consistent by ensuring there are unique entries for [title,userId] pairs

In [33]:
if not ratings_top[ratings_top.duplicated(['userId','title'])].empty:
    ratings_top = ratings_top.drop_duplicates(['userId','title'])

In [34]:
ratings_top.shape

(11384584, 5)

In [37]:
del ratings_total
del movies_df
del ratings_count

Reshape the data using pivot function

In [38]:
df_for_knn = ratings_top.pivot(index='title',columns='userId',values='rating').fillna(0)

In [39]:
df_for_knn.tail(15)

userId,1,2,3,4,5,6,7,8,9,10,...,270887,270888,270889,270890,270891,270892,270893,270894,270895,270896
title,,,,,,,,,,,,,,,,,,,,,
Zigeunerweisen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zodiac,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zombie Flesh Eaters,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zombie Holocaust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zozo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eXistenZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Â¡A volar joven!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Â¡Three Amigos!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã€ nos amours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã…ke and His World,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã†on Flux,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã–dipussi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Åžaban OÄŸlu Åžaban,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Å Ã­lenÄ› smutnÃ¡ princezna,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
df_for_knn.shape

(4487, 265903)

Let's use sparse matrix representation of this matrix

In [41]:
from scipy.sparse import csr_matrix

In [42]:
df_for_knn_sparse = csr_matrix(df_for_knn.values)

## Recommendations using KNearestNeighbors method

In [43]:
from sklearn.neighbors import NearestNeighbors

In [44]:
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')

In [45]:
model_knn.fit(df_for_knn_sparse)

NearestNeighbors(algorithm='brute', metric='cosine')

In [42]:
query_index = np.random.choice(df_for_knn.shape[0])

In [61]:
movie_title = "Blade Runner"

In [62]:
distances, indices = model_knn.kneighbors(df_for_knn.loc[movie_title].values.reshape(1,-1),n_neighbors=6)

In [63]:
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendations for movie: ", movie_title)
    else:
        print("{0}: {1}, with distance of {2}".format(i,df_for_knn.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for movie:  Blade Runner
1: NausicaÃ¤ of the Valley of the Wind, with distance of 0.7787711637882889
2: Amores perros, with distance of 0.7968344444800404
3: Lock, Stock and Two Smoking Barrels, with distance of 0.8021442702375334
4: A View to a Kill, with distance of 0.8051661693269293
5: Catch Me If You Can, with distance of 0.8215305661915423

In [46]:
# distances, indices = model_knn.kneighbors(df_for_knn.iloc[query_index,:].values.reshape(1,-1),n_neighbors=6)

In [47]:
# for i in range(0,len(distances.flatten())):
#     if i==0:
#         print("Recommendations for movie: {0}\n".format(df_for_knn.index[query_index]))
#     else:
#         print("{0}: {1}, with distance of {2}".format(i,df_for_knn.index[indices.flatten()[i]],distances.flatten()[i]))

#### Recommendations using KNN with item descriptions or profiles...

In [48]:
#Compare User user nn above to item item below