In [1]:
import numpy as np
import pandas as pd

Load ratings csv file

In [2]:
ratings_df = pd.read_csv("../input/ratings_small.csv")#need to try this on full dataset

In [3]:
ratings_df.shape

(100004, 4)

In [4]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

Load Movies metadata csv file

In [5]:
movies_df = pd.read_csv("../input/movies_metadata.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [7]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Merge the two dataframe to keep only userId, movieId, rating and title data

In [8]:
movies_df.drop(movies_df.index[19730],inplace=True)
movies_df.drop(movies_df.index[29502],inplace=True)
movies_df.drop(movies_df.index[35585],inplace=True)

In [9]:
movies_df.id = movies_df.id.astype(np.int64)

In [10]:
type(movies_df.id[0])

numpy.int64

In [11]:
ratings_df.movieId.isin(movies_df.id).sum()

44989

In [12]:
ratings_df = pd.merge(ratings_df,movies_df[['title','id']],left_on='movieId',right_on='id')
ratings_df.head()

   userId  movieId  rating   timestamp      title    id
0       1     1371     2.5  1260759135  Rocky III  1371
1       4     1371     4.0   949810302  Rocky III  1371
2       7     1371     3.0   851869160  Rocky III  1371
3      19     1371     4.0   855193404  Rocky III  1371
4      21     1371     3.0   853852263  Rocky III  1371

In [13]:
ratings_df.drop(['timestamp','id'],axis=1,inplace=True)

In [14]:
ratings_df.shape

(44994, 4)

In [15]:
ratings_df.sample(5)

       userId  movieId  rating                 title
16983     434      111     4.0              Scarface
22326     638     3396     3.5           The Yes Men
16188     656     3176     5.0         Battle Royale
36512     149    42418     5.0  Young Black Stallion
18411     134      316     4.5           Grill Point

In [16]:
ratings_df.isnull().sum()

userId     0
movieId    0
rating     0
title      0
dtype: int64

Let's see the number of ratings for each movie

In [17]:
ratings_count = ratings_df.groupby(by="title")['rating'].count().reset_index().rename(columns={'rating':'totalRatings'})[['title','totalRatings']]

See the count of unique movies in the ratings_count dataframe

In [18]:
ratings_count.shape[0]

2794

We can also double check this number

In [19]:
len(ratings_df['title'].unique())

2794

In [20]:
ratings_count.sample(5)

                   title  totalRatings
2157         The Getaway            38
2737  Wind with the Gone            16
158       American Pie 2            51
2340    The One-Man Band             1
1944                Taxi             3

In [21]:
ratings_count.head()

                                  title  totalRatings
0                 !Women Art Revolution             2
1                           'Gator Bait             1
2      'Twas the Night Before Christmas             2
3              ...And God Created Woman             1
4  00 Schneider - Jagd auf Nihil Baxter             2

In [22]:
ratings_df.head()

   userId  movieId  rating      title
0       1     1371     2.5  Rocky III
1       4     1371     4.0  Rocky III
2       7     1371     3.0  Rocky III
3      19     1371     4.0  Rocky III
4      21     1371     3.0  Rocky III

In [23]:
ratings_total = pd.merge(ratings_df,ratings_count,on='title',how='left')

In [24]:
ratings_total.shape

(44994, 5)

In [25]:
ratings_total.head()

   userId  movieId  rating      title  totalRatings
0       1     1371     2.5  Rocky III            47
1       4     1371     4.0  Rocky III            47
2       7     1371     3.0  Rocky III            47
3      19     1371     4.0  Rocky III            47
4      21     1371     3.0  Rocky III            47

Let's see some statistics for the totalRatings

In [26]:
ratings_count['totalRatings'].describe()

count    2794.000000
mean       16.103794
std        31.481306
min         1.000000
25%         1.000000
50%         4.000000
75%        15.750000
max       324.000000
Name: totalRatings, dtype: float64

There is a huge difference between minimum number of ratings and maximum number of ratings.

In [27]:
ratings_count['totalRatings'].quantile(np.arange(.6,1,0.01))

0.60      7.00
0.61      7.00
0.62      7.00
0.63      8.00
0.64      8.00
0.65      9.00
0.66      9.00
0.67     10.00
0.68     10.00
0.69     11.00
0.70     12.00
0.71     12.00
0.72     13.00
0.73     14.00
0.74     14.00
0.75     15.75
0.76     17.00
0.77     18.00
0.78     19.00
0.79     20.00
0.80     21.00
0.81     22.33
0.82     24.00
0.83     26.00
0.84     27.00
0.85     29.00
0.86     31.00
0.87     34.00
0.88     37.00
0.89     41.77
0.90     45.00
0.91     49.00
0.92     52.56
0.93     59.00
0.94     64.42
0.95     71.00
0.96     83.28
0.97     98.21
0.98    119.14
0.99    168.49
Name: totalRatings, dtype: float64

About top 21% of the movies received more than 20 votes. Let's remove all the other movies so that we are only left with significant movies (in terms of total votes count)

In [28]:
votes_count_threshold = 20

In [29]:
ratings_top = ratings_total.query('totalRatings > @votes_count_threshold')

In [30]:
ratings_top.shape

(34552, 5)

In [31]:
ratings_top.head()

   userId  movieId  rating      title  totalRatings
0       1     1371     2.5  Rocky III            47
1       4     1371     4.0  Rocky III            47
2       7     1371     3.0  Rocky III            47
3      19     1371     4.0  Rocky III            47
4      21     1371     3.0  Rocky III            47

Make data consistent by ensuring there are unique entries for [title,userId] pairs

In [32]:
if not ratings_top[ratings_top.duplicated(['userId','title'])].empty:
    ratings_top = ratings_top.drop_duplicates(['userId','title'])

In [33]:
ratings_top.shape

(34412, 5)

Reshape the data using pivot function

In [34]:
df_for_knn = ratings_top.pivot(index='title',columns='userId',values='rating').fillna(0)

In [83]:
df_for_knn.tail(15)

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
Will Penny,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
Willy Wonka & the Chocolate Factory,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0
Windows on Monday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wings of Desire,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
Wish You Were Here,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Within the Woods,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
X-Men Origins: Wolverine,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
Y Tu Mamá También,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yankee Doodle Dandy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yesterday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Young Adam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Young Frankenstein,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
Young and Innocent,0.0,0.0,3.5,0.0,3.5,0.0,0.0,4.5,4.0,0.0,...,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Zatoichi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df_for_knn.shape

(580, 671)

Let's use sparse matrix representation of this matrix

In [37]:
from scipy.sparse import csr_matrix

In [38]:
df_for_knn_sparse = csr_matrix(df_for_knn.values)

## Recommendations using KNearestNeighbors method

In [57]:
from sklearn.neighbors import NearestNeighbors

In [58]:
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')

In [59]:
model_knn.fit(df_for_knn_sparse)

NearestNeighbors(algorithm='brute', metric='cosine')

In [60]:
query_index = np.random.choice(df_for_knn.shape[0])

In [84]:
movie_title = "Y Tu Mamá También"

In [86]:
distances, indices = model_knn.kneighbors(df_for_knn.loc[movie_title].values.reshape(1,-1),n_neighbors=6)

In [87]:
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendations for movie: ", movie_title)
    else:
        print("{0}: {1}, with distance of {2}".format(i,df_for_knn.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for movie:  Y Tu Mamá También
1: Die Hard 2, with distance of 0.5210453206598713
2: Rope, with distance of 0.5347423080890823
3: Imagine Me & You, with distance of 0.55180644142542
4: The Passion of Joan of Arc, with distance of 0.5630240858627549
5: Gods and Monsters, with distance of 0.5646267838909714

In [62]:
# distances, indices = model_knn.kneighbors(df_for_knn.iloc[query_index,:].values.reshape(1,-1),n_neighbors=6)

In [76]:
# for i in range(0,len(distances.flatten())):
#     if i==0:
#         print("Recommendations for movie: {0}\n".format(df_for_knn.index[query_index]))
#     else:
#         print("{0}: {1}, with distance of {2}".format(i,df_for_knn.index[indices.flatten()[i]],distances.flatten()[i]))

#### Recommendations using KNN with item descriptions or profiles...

In [ ]:
#Compare User user nn above to item item below